.trophyContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.trophyCase {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
	width: 600px;
	font-family: var(--ff-title);
}

.trophyCase h2 {
	font-size: 24px;
	color: white;
	font-weight: 400;
	margin-bottom: 30px;
}

.trophy-title {
	font-weight: bold;
}

.trophy-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* 3 columns */
	grid-template-rows: auto; /* Adjust rows dynamically */
	gap: 16px; /* Space between items */
	max-width: 600px; /* Optional width constraint */
	margin: 0 auto;
}

.trophy-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.trophy-icon {
	width: 80px; /* Adjust size as needed */
	height: 80px;
	object-fit: contain;
}

.trophy-item p {
	margin-top: 8px;
	font-size: 14px;
	color: white;
}

.score {
	font-weight: bold;
}
